/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


@media (min-width: 1200px) and (max-width: 1342px) {
    .banner_Carousel {
        margin: 200px -29px 0px -130px;
    }

    .cart-container {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 20px;
    }

    .cart-container {
        display: none;
    }

    .text-bg h1 {
        font-size: 61px;
        line-height: 78px;
    }

    .banner_Carousel {
        margin: 200px -29px 0px -130px;
    }

    .about {
        padding: 251px 0 0px 0;
    }

    .about_img {
        margin-left: 0;
    }
    .account-container {
        justify-content: center !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* ========================================Juices======================================== */
    .juices .filter-navbar {
        flex-direction: column-reverse;
    }

        .juices .filter-navbar .filter-search {
            margin-bottom: 28px;
        }

    .cart-container {
        display: none;
    }

    .navigation.navbar {
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 7px;
    }

    .text-bg h1 {
        font-size: 49px;
        line-height: 65px;
    }

    .banner_Carousel {
        margin: 200px -30px 0px -130px;
    }

    .titlepage h2 {
        font-size: 33px;
    }

    .about {
        padding: 251px 0 0px 0;
    }

    .about_img {
        margin-left: 0;
    }

    .footer::before {
        right: 21px;
    }

    .footer h3 {
        padding-right: 6px;
    }

    ul.location_icon li {
        display: block;
    }
    .account-container {
        justify-content: center !important;
    }
    .account-avatar_container {
        margin: 0 !important;
    }

    .account-info_container input {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* ========================================Juices======================================== */
    .juices .filter-navbar {
        flex-direction: column-reverse;
    }

        .juices .filter-navbar .filter-search {
            margin-bottom: 28px;
        }

    .logo {
        width: 178px;
    }

    .cart-container {
        display: block;
    }

    .navigation.navbar {
        padding-top: 21px !important;
    }

    .banner_Carousel {
        margin: 20px 0px 0px 0px;
    }

    .d_none {
        display: none;
    }

    .text-bg h1 {
        font-size: 50px;
        line-height: 60px;
        padding-bottom: 10px;
    }

    .text-bg {
        margin-right: 0px;
    }

    .banner_main::before {
        position: inherit;
    }

    .about {
        padding: 90px 0 0px 0;
    }

        .about_img,
        .about .titlepage {
            margin-left: 0;
        }

    .margin_top {
        margin-top: 0px;
    }

    .footer::before {
        right: 21px;
    }

    .about_img {
        margin-bottom: 20px;
    }

    ul.social_icon {
        margin-top: 25px;
    }

    ul.location_icon li {
        font-size: 17px;
        display: block
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 12px;
    }

    .navigation .navbar-collapse {
        background: #440e62;
        padding: 0 20px !important;
        margin-top: 46px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }

        .navigation.navbar-dark .navbar-nav .nav-link:focus,
        .navigation.navbar-dark .navbar-nav .nav-link:hover {
            color: #e5a124;
        }

    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    .account-container {
        flex-direction: column !important;
        align-items: center !important;
    }

        .account-container button.buttonEditMobile {
            display: block !important;
            width: 200px !important;
            margin: 0 !important;
        }

    .account-avatar_container {
        padding: 0 !important;
        margin: 0 !important;
    }

        .account-avatar_container button.buttonEditPC {
            display: none !important;
        }

    .account-info_container {
        margin: 0 !important;
        width: 75% !important;
    }

        .account-info_container input {
            width: 100% !important;
        }
}

@media (max-width: 575px) {
    /* ========================================Juices======================================== */
    #product-container > div {
        padding: 0 4px;
        margin-bottom: 8px !important;
    }
    .our_img img {
        height: 120px;
    }
    .our_img .our_text {
        padding: 0;
    }
    .our_img .our_text > div {
        padding: 0 !important;
    }
    .our_img .our_text h3,
    .our_img .our_text h6,
    .our_img .our_text a {
            font-size: 16px;
    }
    .our_img .our_text a.add-product-to-card,
    .our_img .our_text button.add-product-to-card {
        font-size: 12px !important;
    }
    .cartForPC {
        margin: 0 6px;
    }
    .cartForPC .cart-heading {
        padding-top: 16px;
    }
    .cartForPC p {
            font-size: 12px;
    }
    .container-products_btn {
        justify-content: center !important;
    }
    .juices .filter-navbar {
        flex-direction: column-reverse;
    }

        .juices .filter-navbar .filter-search {
            margin-bottom: 28px;
        }

    .header {
        padding: 30px 0px 30px 0px;
    }

        .header .row .input-group .form-control {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
        }

    .cart-container {
        display: block;
    }
    .cart-btn-quantity {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .logo {
        width: 178px;
    }

    .navigation.navbar {
        padding-top: 21px !important;
    }
    .filter-navbar_container .filter-type button {
        margin: 8px;
    }
    .banner_Carousel {
        margin: 20px 0px 0px 0px;
    }

    .d_none {
        display: none;
    }

    .text-bg h1 {
        font-size: 47px;
        line-height: 66px;
        padding-bottom: 10px;
    }

    .text-bg {
        margin-right: 0px;
    }

    .banner_main::before {
        position: inherit;
    }

    .about {
        padding: 90px 0 0px 0;
    }

        .about_img,
        .about .titlepage {
            margin-left: 0;
        }

    .margin_top {
        margin-top: 0px;
    }

    .footer::before {
        right: 21px;
    }

    .about_img {
        margin-bottom: 20px;
    }

    .testimonial {
        padding: 60px 0px 140px 0px;
    }

    .footer::before {
        position: inherit;
    }

    .footer::after {
        position: inherit;
    }

    ul.location_icon {
        margin-top: 0px;
    }

    ul.social_icon {
        margin-top: 25px;
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0 !important;
        width: 100%;
        margin-top: -45px;
    }

    .navigation .navbar-collapse {
        background: #440e62;
        padding: 20px;
        margin-top: 69px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 8px 24px;
        color: #fff;
    }

        .navigation.navbar-dark .navbar-nav .nav-link:focus,
        .navigation.navbar-dark .navbar-nav .nav-link:hover {
            color: #e5a124;
        }

    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    .account-container {
        flex-direction: column !important;
        align-items: center !important;
    }

        .account-container button.buttonEditMobile {
            display: block !important;
            width: 200px !important;
            margin: 0 !important;
        }

    .account-avatar_container {
        padding: 0 !important;
        margin: 0 !important;
    }

        .account-avatar_container button.buttonEditPC {
            display: none !important;
        }

    .account-info_container {
        margin: 0 !important;
        width: 75% !important;
    }

        .account-info_container input {
            width: 100% !important;
        }
}
