@{
    Layout = "layout";
}

<!-- body -->
<body class="main-layout inner_page">
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-7">
                    <div class="about_img">
                        <figure><img src="~/Content/images/about.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="titlepage">
                        <h2>About Us</h2>
                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum t is a long established fact that a reader will be distracted by the readable content of a page when looking at </p>
                        <a class="read_more" href="#">About More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
</body>

