<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>HKL Juice</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css">
    <link rel="icon" href="~/Content/images/con_top.png" type="image/gif" />
    <link rel="stylesheet" href="~/Content/assets/css/portal.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>

</head>
<body class="main-layout inner_page">
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-3 logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/">
                                        <img src="~/Content/images/logoHKLJuice.png" alt="logo"
                                             style="height:60px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-5 col-6 d-flex justify-content-center align-items-center">
                        <div class="table-status">
                            <p class="m-0 fs-4"><span id="numberTable"></span><button disabled id="tableStatus" style="margin:4px 0"></button></p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-5">
                        <nav class="navigation navbar navbar-expand-md navbar-dark" id="main-nav">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    @*<li class="nav-item ">
                                        <a class="nav-link font-weight-bold" href="/">Trang chủ</a>
                                    </li>*@
                                    <li class="nav-item ">
                                        <a class="nav-link font-weight-bold" href="/">Đặt hàng</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link font-weight-bold " href="/history">Đơn hàng</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link font-weight-bold" href="/about">Về chúng tôi</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="cart-container nav-link font-weight-bold active" href="/cart">
                                            <i class="bi bi-cart" aria-hidden="true">
                                                <span id="cart-count" class="cart-count">0</span>
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <div class="cart-page_container">
        <div class="empty-product">
            <h2 class="empty-product_title">Không có sản phẩm nào trong giỏ hàng</h2>
            <img src="~/Content/images/shoppingCart.png" alt="Shopping Cart" class="empty-product_image" />
            <a href="/" class="empty-product_button">Chọn sản phẩm</a>
        </div>

        <div class="cart-page_container-products">
            <h1 class="text-center pb-3 font-weight-bold">Giỏ hàng</h1>
            <div class="cartForPC">
                <div class="cart-heading grid grid-five-column">
                    <p class="cart-hide font-weight-bold">Sản phẩm</p>
                    <p class="cart-hide font-weight-bold">Giá</p>
                    <p class="cart-hide font-weight-bold">Số lượng</p>
                    <p class="cart-hide font-weight-bold">Tổng tiền</p>
                    <p class="cart-hide font-weight-bold"></p>
                </div>
                <hr class="m-0">
                <div class="cart-item" id="cartItemsContainer"></div>
            </div>
            <div class="d-flex pt-3 justify-content-end" style="margin: 0 20px;">
                <button data-bs-toggle="modal"
                        data-bs-target="#deleteCartModal"
                        class="btn btn-danger p-2 m-2 delete-cart" >
                    Xóa giỏ hàng
                </button>
                <button data-bs-toggle="modal"
                        data-bs-target="#handleOrderModal"
                        class="btn btn-success p-2 m-2"
                        onclick="confirmOrder()">
                    Đặt
                </button>
            </div>
        </div>
    </div>



    <footer id="contact">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Liên hệ</h2>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <form id="request" class="main_form">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <input class="contactus" placeholder="Họ tên" type="text" name="Full Name">
                                </div>
                                <div class="col-md-7">
                                    <input class="contactus" placeholder="Email" type="email" name="Email">
                                </div>
                                <div class="col-md-7">
                                    <input class="contactus" placeholder="Số điện thoại" type="text" name="Phone Number">
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                    <ul class="social_icon">
                                        <h3>Theo dõi</h3>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="contactus1" placeholder="Tin nhắn" type="type" Message="Name"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="send_btn">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <ul class="location_icon">
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> UIT</li>
                            <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a> +84 987654321</li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>hkljuice@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2023 All Right Reserved By HKL Juice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="toast-container" class="toast-container position-fixed end-0 p-3" style="z-index: 1000; top: 46px;"></div>
    @*Modal order*@
    <div class="modal fade" id="handleOrderModal" tabindex="-1" aria-labelledby="handleOrderModalLable"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="handleOrderModalLable">
                        Thông báo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card account-card">
                        <div style="vertical-align: middle;"
                             class="table d-flex my-4 border-0 flex-column align-items-center">
                            <h6>Bạn xác nhận đặt đơn hàng này?</h6>
                            <table class="cart-item">
                                <thead>
                                    <tr>
                                        <td>Tên</td>
                                        <td>Số lượng</td>
                                        <td>Tổng</td>
                                    </tr>
                                </thead>
                                <tbody id="handleOrderModalBody">

                                </tbody>
                            </table>
                            <div class="cart-item d-flex align-content-end" id="handleOrderModalBodyTotal"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="handleOrderModalFooter">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Quay lại
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            style="width:120px"
                            id="btn-handleOrderProducts"
                            onclick="handleOrderProducts()">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*Modal delete all product*@
    <div class="modal fade" id="deleteCartModal" tabindex="-1" aria-labelledby="deleteCartModalLable"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCartModalLable">
                        Cảnh báo
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card account-card">
                        <p style="vertical-align: middle;"
                           class="table d-flex my-4 border-0 flex-column align-items-center"
                           id="deleteCartModalBody">
                            Bạn xác nhận xóa toàn bộ sản phẩm?
                        </p>
                    </div>
                </div>
                <div class="modal-footer" id="deleteCartModalFooter">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Quay lại
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                            onclick="clearCart()">
                        Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        const numberTable = JSON.parse(localStorage.getItem("numberTable")) || [];
        const numberTableSpan = document.getElementById('numberTable');
        numberTableSpan.innerHTML = `Bàn ${numberTable}: `;
        // =============================================================================================
        // =========================================TABLE STATUS========================================
        // =============================================================================================
        let historyOrdered = [];
        function fetchProductsOrdered() {
            try {
                fetch(`/api/v1/orders/${numberTable}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data) {
                            if (JSON.stringify(data) !== JSON.stringify(historyOrdered)) {
                                historyOrdered = data;
                                renderTableStatus(data[0].paymentStatus);
                            }
                        }
                    })
            } catch (error) {
                console.error('Error:', error);
            }
        }
        fetchProductsOrdered();
        setInterval(fetchProductsOrdered, 1000 * 30);
        function renderTableStatus(paymentStatus) {
            const tableStatus = document.getElementById('tableStatus');
            tableStatus.innerHTML = "";
            console.log("paymentStatus: ", paymentStatus);
            if (paymentStatus == "Đang chờ") {
                tableStatus.className = "text-danger bg-light bg-gradient rounded px-1 pb-1";
                tableStatus.innerHTML = "Đang phục vụ";
            } else {
                tableStatus.className = "text-success bg-light bg-gradient rounded px-1 pb-1";
                tableStatus.innerHTML = "Đang trống";
            }
        }
        function updateCartCount() {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            let count = cart.reduce((total, item) => total + (item.quantity || 1), 0);
            let cartCountElement = document.querySelector('.cart-count');
            if (cartCountElement) {
                cartCountElement.textContent = count;
            }
        }
        @*=============================================================================================
        =========================================CART PRODUCT========================================
        =============================================================================================*@
        function updateCartDisplay() {
            const cartItems = loadCartItemsFromLocalStorage();
            const emptyCartElement = document.querySelector('.empty-product');
            const cartElement = document.querySelector('.cart-page_container-products');

            if (cartItems.length === 0) {
                emptyCartElement.style.display = 'flex';
                cartElement.style.display = 'none';
            } else {
                emptyCartElement.style.display = 'none';
                cartElement.style.display = 'block';
                renderCartItems();
            }
        }
        function loadCartItemsFromLocalStorage() {
            try {
                return JSON.parse(localStorage.getItem("cart")) || [];
            } catch (error) {
                console.error("Error reading cart items from localStorage:", error);
                return [];
            }
        }
        function loadInvoiceFromLocalStorage() {
            try {
                return JSON.parse(localStorage.getItem("invoice")) || [];
            } catch (error) {
                console.error("Error reading invoice from localStorage:", error);
                return [];
            }
        }
        function renderCartItems() {
            const cartItems = loadCartItemsFromLocalStorage();

            const container = document.getElementById('cartItemsContainer');
            container.innerHTML = '';

            cartItems.forEach(item => {
                const totalPrice = item.price * item.quantity;
                const itemDiv = document.createElement('div');
                itemDiv.className = 'grid grid-five-column py-1';
                itemDiv.innerHTML = `
                    <div class="cart-image-name d-flex">
                        <image src="${item.imgUrl}" alt="${item.productName}" class="m-0" />
                        <p class="m-0">${item.productName}</p>
                    </div>
                    <div class="cart-hide">
                        <p class="m-0">${Number(item.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</p>
                    </div>
                    <div class="cart-btn-quantity">
                        <button class=" btn-quantity-reduce btn-quantity" onclick="updateCartItemQuantity(${item.productId}, ${item.quantity - 1})">-</button>
                        <span>${item.quantity}</span>
                        <button class=" btn-quantity-add btn-quantity" onclick="updateCartItemQuantity(${item.productId}, ${item.quantity + 1})">+</button>
                    </div>
                    <div class="cart-hide">
                        ${Number(totalPrice).toLocaleString("vi-VN")} đ
                    </div>
                    <div>
                        <button class="text-danger bg-transparent delete-btn" onclick="deleteCartItem(${item.productId})"><i class="bi bi-trash"></i></button>
                    </div>
                `;

                container.appendChild(itemDiv);
            });
        }
        function updateCartItemQuantity(productId, newQuantity) {
            const cartItems = loadCartItemsFromLocalStorage();
            const itemIndex = cartItems.findIndex(item => item.productId === productId);
            if (itemIndex !== -1) {
                cartItems[itemIndex].quantity = Math.max(1, newQuantity);

                localStorage.setItem("cart", JSON.stringify(cartItems));
                updateCartCount();
                renderCartItems();
            }
        }
        function deleteCartItem(productId) {
            let cartItems = loadCartItemsFromLocalStorage();
            cartItemDeleted = cartItems.filter(item => item.productId === productId);
            cartItems = cartItems.filter(item => item.productId !== productId);
            createAndShowToast(`Đã xóa sản phẩm ${cartItemDeleted[0].productName}!`, "bg-warning");
            localStorage.setItem("cart", JSON.stringify(cartItems));
            updateCartCount();
            updateCartDisplay();
            renderCartItems();
        }
        // Delete all cart
        function clearCart() {
            localStorage.removeItem("cart");
            createAndShowToast("Đã xóa toàn bộ giỏ hàng!", "bg-warning");
            updateCartCount();
            updateCartDisplay();
        }
        function createAndShowToast(message, toastClass) {
            var toastContainer = document.getElementById('toast-container');

            var toastElement = document.createElement("div");
            toastElement.className = `toast d-flex ${toastClass}`;
            toastElement.role = "alert";
            toastElement.ariaLive = "assertive";
            toastElement.ariaAtomic = "true";
            toastElement.setAttribute("data-bs-animation", "true");

            var toastBody = document.createElement("div");
            toastBody.className = "toast-body text-light";
            toastBody.textContent = message;

            var closeButton = document.createElement("button");
            closeButton.type = "button";
            closeButton.className = "btn-close btn-close-white me-2 m-auto";
            closeButton.setAttribute("data-bs-dismiss", "toast");
            closeButton.ariaLabel = "Close";

            toastElement.appendChild(toastBody);
            toastElement.appendChild(closeButton);

            toastContainer.appendChild(toastElement);

            var toast = new bootstrap.Toast(toastElement, { delay: 5000 });
            toast.show();

            toastElement.addEventListener('hidden.bs.toast', function () {
                toastElement.remove();
            });
        }
        @*confirmOrder*@
        function confirmOrder() {
            let orderDetails = loadCartItemsFromLocalStorage();
            let orderTotal = calculateOrderTotal(orderDetails);

            document.getElementById("handleOrderModalBodyTotal").innerHTML = `
                <div>Tổng tiền: ${Number(orderTotal).toLocaleString("vi-VN")} đ</div>
            `;
            const modalBody = document.getElementById("handleOrderModalBody");
            modalBody.innerHTML = "";

            orderDetails.forEach(item => {
                const totalPrice = item.price * item.quantity;

                const itemElement = document.createElement('tr');
                itemElement.innerHTML = `
                    <td>${item.productName}</td>
                    <td>${item.quantity}</td>
                    <td>${Number(totalPrice).toLocaleString("vi-VN")} đ</td>
                `;
                modalBody.appendChild(itemElement);
            });            
        }
        //@* Xử lý nhấn nút đặt hàng*@
        function handleOrderProducts() {
            let invoiceStorage = loadInvoiceFromLocalStorage();
            console.log("invoiceStorage: ", invoiceStorage);
            const btnHandleOrderProducts = document.getElementById("btn-handleOrderProducts");
            btnHandleOrderProducts.innerHTML = `
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            `;
            let orderDetails = loadCartItemsFromLocalStorage();
            
            console.log("orderDetails: ", orderDetails);
            if (orderDetails && orderDetails.length > 0) {
                var requestOrderDetails = {
                    orderTotal: calculateOrderTotal(orderDetails),
                    numberTable: numberTable,
                    orderDetail: getOrderDetail(orderDetails),
                    paymentStatus: "Đang chờ"
                }
            }
            console.log("requestOrderDetails: ", requestOrderDetails);
            console.log("requestOrderDetails.numberTable: ", requestOrderDetails.numberTable);

            fetch(`/api/v1/order/${requestOrderDetails.numberTable}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(requestOrderDetails),
                })
                .then(response => response.json())
                .then(data => {
                    console.log("data: ", data);
                    btnHandleOrderProducts.innerHTML = `Đồng ý`;
                    if (data.success == true) {
                        localStorage.removeItem("cart");
                        alert(`(${data.message}) Order thành công!`);
                    } else {
                        alert("Order không thành công!");
                    }
                    window.location.href = '/history';
                })
                .catch((error) =>
                    console.error("An error occurred:", error)
                );
        }
        function calculateOrderTotal(orderDetails) {
            var total = 0;
            orderDetails.forEach(function (detail) {
                total += detail.quantity * detail.price;
            });
            return total;
        }
        function getOrderDetail(orderDetails) {
            var orderDetail = [];
            orderDetails.forEach(function (detail) {
                orderDetail.push({
                    productId: detail.productId,
                    quantity: detail.quantity,
                    subTotal: detail.quantity * detail.price
                })
            });
            return orderDetail;
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateCartDisplay();
            updateCartCount();
            renderCartItems();
        });
    </script>

    <!-- Javascript files-->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>