@{
    Layout = "layout";
}
    <!-- Our Juices -->
    <div class="juices ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Juices</h2>
                        <p>is a long established fact that a reader will be distracted by the readable content of a page when looking at </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="our_main_box">
                        <div class="our_img">
                            <figure><img src="~/Content/images/our1.png" alt="#" /></figure>
                        </div>
                        <div class="our_text">
                            <h4>$<strong class="yellow">50</strong></h4>
                            <h3>Orange Juice</h3>
                            <p>is a long established fact that a reader will be</p>
                            <a class="read_more" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="our_main_box">
                        <div class="our_img">
                            <figure><img src="~/Content/images/our2.png" alt="#" /></figure>
                        </div>
                        <div class="our_text">
                            <h4>$<strong class="yellow">50</strong></h4>
                            <h3>Orange Juice</h3>
                            <p>is a long established fact that a reader will be</p>
                            <a class="read_more" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="our_main_box">
                        <div class="our_img">
                            <figure><img src="~/Content/images/our3.png" alt="#" /></figure>
                        </div>
                        <div class="our_text">
                            <h4>$<strong class="yellow">50</strong></h4>
                            <h3>Orange Juice</h3>
                            <p>is a long established fact that a reader will be</p>
                            <a class="read_more" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 margin_top">
                    <div class="our_main_box">
                        <div class="our_img">
                            <figure><img src="~/Content/images/our4.png" alt="#" /></figure>
                        </div>
                        <div class="our_text">
                            <h4>$<strong class="yellow">50</strong></h4>
                            <h3>Orange Juice</h3>
                            <p>is a long established fact that a reader will be</p>
                            <a class="read_more" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our_main_box">
                        <div class="our_img">
                            <figure><img src="~/Content/images/our5.png" alt="#" /></figure>
                        </div>
                        <div class="our_text">
                            <h4>$<strong class="yellow">50</strong></h4>
                            <h3>Orange Juice</h3>
                            <p>is a long established fact that a reader will be</p>
                            <a class="read_more" href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Our Juices  section -->

